body{
    font-family: sans-serif;
    background-color:rgb(247, 247, 216); 
}

header h1{
    text-align: center;
}

header nav ul{
    list-style: none;
    padding-left: 0px;
    text-align: center;
    background-color:rgb(230, 102, 145);
    border-radius: 1px;
    margin-left: -9px;
    margin-right:  -8px;
    padding: 10px;
}

header nav ul li{
    display: inline-block;
    margin-right: 10px;
}
header nav ul li a{
    color: rgb(20, 20, 20);
    text-decoration: none;
    
}

section{
    background-color:lightpink;
    width: 80%;
    margin: auto;
    border-radius: 2px;
}

div{ margin:20px;
    text-align: center;
    margin: auto;
    width: 80%;
}

footer{
    text-align: center;
    background-color: palevioletred;
    border-radius: 2px;
    padding: 20px;
    margin-left: -9px;
    margin-right:  -8px;
    width:96%;
    position:absolute;}

   
     table, th, td {
        border: black 1px solid;
        border-spacing: 0;
        }


body div{background-color:lightgoldenrodyellow;
margin:50px;
}   